################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/00.Framework/Framework.Domain/bin/Debug/net7.0
/00.Framework/Framework.Domain/obj/Release/net7.0
/00.Framework/Framwork.Tools/bin/Debug/net7.0
/00.Framework/Framwork.Tools/obj/Debug/net7.0
/00.Framework/Framwork.Tools/obj/Release/net7.0
/00.Framework/Framwork.Tools/obj
/01.Core/CBSD.Core.ApplicationServices/bin/Debug/net7.0
/01.Core/CBSD.Core.ApplicationServices/obj/Debug/net7.0
/01.Core/CBSD.Core.ApplicationServices/obj/Release/net7.0
/01.Core/CBSD.Core.ApplicationServices/obj
/01.Core/CBSD.SellerContext.Core.Domain/bin/Debug/net7
/01.Core/CBSD.SellerContext.Core.Domain/obj
/02.Infra/CBSD.Seller.Infra.Data.InMemory/bin/Debug/net7.0
/02.Infra/CBSD.Seller.Infra.Data.InMemory/obj/Debug/net7.0
/02.Infra/CBSD.Seller.Infra.Data.InMemory/obj/Release/net7.0
/02.Infra/CBSD.Seller.Infra.Data.InMemory/obj
/02.Infra/CBSD.Seller.Infra.Data.Sql/bin/Debug/net7.0
/02.Infra/CBSD.Seller.Infra.Data.Sql/obj/Debug/net7.0
/02.Infra/CBSD.Seller.Infra.Data.Sql/obj/Release/net7.0
/02.Infra/CBSD.Seller.Infra.Data.Sql/obj
/03.EndPoints/CBSD.Seller.EndPoints.API/bin/Debug/net7.0
/03.EndPoints/CBSD.Seller.EndPoints.API/obj
/03.EndPoints/CBSD.Seller.EndPoints.API/obj/Debug/net7.0


/02.Infra/CBSD.Infra.Data.EventSourcing/bin/Debug/net7.0
/02.Infra/CBSD.Infra.Data.EventSourcing/obj/Debug/net7.0
/02.Infra/CBSD.Infra.Data.EventSourcing/obj
/Test/Seller/EdgeDriverTestSeller/bin/Debug/netcoreapp2.1
/Test/Seller/EdgeDriverTestSeller/obj
